<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统-分类管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <button class="layui-btn layuiadmin-btn-tags" data-type="add">添加</button>
        </div>
        <div class="layui-card-body">
            <table id="LAY-app-contentTags" lay-filter="LAY-app-contentTags"></table>
            <script type="text/html" id="layuiadmin-app-cont-tagsbar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="__STATIC__/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__STATIC__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$, active;
        var table = layui.table;

        table.render({
            elem: '#LAY-app-contentTags',
            value: new Date(),
            url: 'tagsList',
            page: true,
            cols: [[
                {field: 'id', title: 'ID', width: 150, sort: true}
                , {field: 'tags', title: '标签', width: 650}
                , {fixed: 'right', width: 200, title: "操作", align: 'center', toolbar: '#layuiadmin-app-cont-tagsbar'}
            ]]
        });
        active = {
            add: function () {
                layer.open({
                    type: 2
                    , title: '添加分类'
                    , content: "{:url('admin/content/tagsForm')}"
                    , area: ['450px', '200px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var othis = layero.find('iframe').contents().find("#layuiadmin-app-form-tags"),
                            tags = othis.find('input[name="tags"]').val();
                        $.ajax({
                            url: "{:url('admin/content/tagsAdd')}?tags=" + tags,
                            type: 'get',
                            beforeSend: function () {
                                this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
                            },
                            success: function (data) {
                                if (data.code == 0) {
                                    layer.msg(data.msg, {
                                        icon: 6,
                                        time: 1000
                                    }, function () {
                                        location.reload();
                                    });//成功的表情
                                } else {
                                    layer.msg(data.msg, {
                                        icon: 5,//失败的表情
                                        time: 3000 //1秒关闭（如果不配置，默认是3秒）
                                    }, function () {
                                        location.reload();
                                    });
                                }
                            },
                            complete: function () {
                                layer.close(this.layerIndex);
                            },
                        });
                    }
                });
            }
        };
        $('.layui-btn.layuiadmin-btn-tags').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
