<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/res/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/res/css/main.css">
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    #content {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    #content:hover {
        width: auto;
    }
    #content:hover{
        text-overflow:inherit;
        overflow: visible;
        white-space: pre-line;     /*合并空白符序列，但是保留换行符。*/
    }
    .layui-nav .layui-nav-item a{
        color: #0C0C0C;
    }
    .layui-nav .layui-nav-item a:hover{
        color: #3f2863;
        font-weight:bold;
    }
    .header .nav a:hover{
        font-weight:bold;
    }
</style>
<body>
<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="{:url('index/index/index')}">
            <span>MYBLOG</span>
            <img src="__STATIC__/res/img/logo.png">
        </a>
    </h1>
    <div class="nav">
        <a href="{:url('index/index/index')}">文章</a>
        <a href="{:url('index/whisper/whisper')}">微语</a>
        <a href="{:url('index/leacots/leacots')}">留言</a>
        <a href="{:url('index/album/album')}">相册</a>
        <a href="{:url('index/about/about')}">关于</a>
    </div>
    <div class="welcome-text">
        <ul class="layui-nav" style="background-color: rgba(0,0,0,0);" >
            <li class="layui-nav-item"><a href="">注册</a></li>
            <li class="layui-nav-item"><a href="">登录</a></li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <div class="article-cont">
                            <div class="title">
                                <h3>{$list['title']}</h3>
                                <p class="cont-info"><span class="data" id="time"></span><span class="types">{$list['label']}</span>
                                </p>
                            </div>
                            <p>{$list['content']}</p>
                            <div class="btn-box">
                                <button class="layui-btn layui-btn-primary">上一篇</button>
                                <button class="layui-btn layui-btn-primary">下一篇</button>
                            </div>
                        </div>
                        <div class="form">
                            <div class="layui-form" lay-filter="layuiadmin-app-form-comment"
                                 id="layuiadmin-app-form-comment">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <button class="layui-btn definite " lay-submit lay-filter="LAY-comment-submit">
                                            確定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="volume">
                        全部留言 <span>{$comments.count}</span>
                    </div>
                    <div class="list-cont">
                        {volist name='comments' id='comment'}
                            <div class="cont">
                                <div class="img">
                                    <img src="{$Request.session.avatar}" alt="" id="avatar">
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">{$comment.commentator}</span><span class="data">{$comment.createtime}</span></p>
                                    <p class="ct">{$comment.commcontent}</p>
                                </div>
                            </div>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer w1000">
        <div class="qrcode">
            <img src="__STATIC__/res/img/erweima.jpg">
        </div>
        <div class="practice-mode">
            <img src="__STATIC__/res/img/down_img.jpg">
            <div class="text">
                <h4 class="title">我的联系方式</h4>
                <p>微信<span class="WeChat">1234567890</span></p>
                <p>手机<span class="iphone">1234567890</span></p>
                <p>邮箱<span class="email">1234567890@qq.com</span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/res/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/res/js/util/util.js"></script>
<script type="text/javascript">
    document.oncontextmenu = function(){ return false; };
    // 禁止文字选择
    document.onselectstart = function(){ return false; };
    // 禁止复制
    document.oncopy = function(){ return false; };
    // 禁止剪切
    document.oncut = function(){ return false; };
    layui.config({
        base: '__STATIC__/res/js/util/'
    }).use(['element', 'laypage', 'form', 'menu', 'jquery'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu,$ = layui.$;
        form.on('submit(LAY-comment-submit)', function (obj) {
            obj.field['content_id'] = {$list['id']};
            $.ajax({
                url: "{:url('index/index/addComment')}",
                type: 'post',
                data: obj.field,
                beforeSend: function () {
                    this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
                },
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000
                        }, function () {
                            location.reload();
                        });//成功的表情
                    } else {
                        layer.msg(data.msg, {
                            icon: 5,//失败的表情
                            time: 3000 //1秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            location.reload();
                        });
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
        });

        var time = document.getElementById("time");
        time.innerHTML = formAtDate({$list['createtime']});
        if($("#avatar").src()==""){
            $("#avatar").src("/static/res/img/header.png")
        }
    });
</script>
</body>
</html>