<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <select name="sex">
                            <option value="0">不限</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>

            <table id="user-manage" lay-filter="user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
            </script>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>

<script src="__STATIC__/layuiadmin/layui/layui.js"></script>
<script type="text/html" id="loginTime"></script>
<script>

    layui.config({
        base: '__STATIC__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;
        //监听工具条

        table.render({
            elem: '#user-manage',
            value:new Date()
            ,url: 'userlist' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID', width:80, sort: true}
                ,{field: 'username', title: '用户名', width:150}
                ,{field: 'avatar', title: '头像', width:180}
                ,{field: 'phone', title: '电话', width:180}
                ,{field: 'email', title: '邮箱', width: 180}
                ,{field: 'sex', title: '性别',width: 80, sort: true}
                ,{field: 'ip', title: 'IP', width: 170, sort: true}
                ,{field: 'createtime', title: '创建日期', width: 180,sort:true,}
                ,{field: 'updatetime', title: '更新日期', width: 180,sort:true,}
                ,{fixed: 'right', width: 200, title:"操作",align:'center', toolbar: '#barDemo'}
            ]]
        });
        //监听工具条事件
        table.on('tool(user-manage)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                console.log("用户详情");
                var index = layer.open({
                    type: 2,
                    title: "用户详情",
                    area: ['30%', '70%'],
                    fix: false,
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.4,
                    skin: 'layui-layer-rim',
                    content: 'userdetail?detaildata='+data,
                    success:function (layero,index) {
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                        iframeWin.method(data);
                        body.find("#userdetail").val(JSON.stringify(data));
                    }
                })
            }else if(obj.event==='edit'){
                layer.open({
                    type: 2
                    ,title: '修改用户'
                    ,content: 'userform.html?id='+data.id
                    ,maxmin: true
                    ,area: ['500px', '450px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-front-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            var field = data.field; //获取提交的字段
                            field['ip']=returnCitySN["cip"];
                            $.ajax({
                                url:"{:url('admin/user/useredit')}",
                                type:'post',
                                data:field,
                                beforeSend:function () {
                                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                                },
                                success:function(data){
                                    if(data.code == 0){
                                        layer.msg(data.msg,{icon: 6,
                                            time: 1000
                                        },function(){
                                            location.reload();
                                        });//成功的表情
                                    }else{
                                        layer.msg(data.msg, {
                                            icon: 5,//失败的表情
                                            time: 3000 //1秒关闭（如果不配置，默认是3秒）
                                        }, function(){
                                            location.reload();
                                        });
                                    }
                                },
                                complete: function () {
                                    layer.close(this.layerIndex);
                                },
                            });


                            //提交 Ajax 成功后，静态更新表格中的数据
                            //$.ajax({});
                            table.reload('LAY-user-front-submit'); //数据刷新
                            layer.close(index); //关闭弹层
                        });

                        submit.trigger('click');
                    }
                });

            } else if(obj.event === 'del'){
                layer.confirm('确认删除数据吗？', function(index){
                        $.ajax({
                        url:"{:url('admin/user/userdel')}",
                        type:'get',
                        data:data,
                        beforeSend:function () {
                            this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                        },
                        success:function(data){
                            console.log(data);
                            if(data.code == 0){
                                layer.msg(data.msg,{icon: 6,
                                    time: 1000
                                },function(){
                                    tableSupplierLinkman.reload({
                                        elem: '#user-manage'
                                    });
                                });//成功的表情
                            }else{
                                layer.msg(data.msg, {
                                    icon: 5,//失败的表情
                                    time: 3000 //1秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    location.reload();
                                });
                            }
                        },
                        complete: function () {
                            layer.close(this.layerIndex);
                        },
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('user-manage', {
                where: field
            });
        });


        //事件
        var active = {
            batchdel: function(){
                return layer.msg('程序员正在努力开发中，请等候。');
                var checkStatus = table.checkStatus('user-manage')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                    layer.confirm('确定删除吗？', function(index) {
                        $.ajax({
                            url:"{:url('admin/user/userbatchdel')}",
                            type:'get',
                            data:checkData,
                            beforeSend:function () {
                                this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                            },
                            success:function(data){
                                if(data.code == 0){
                                    layer.msg(data.msg,{icon: 6,
                                        time: 1000
                                    },function(){
                                        location.reload();
                                    });//成功的表情
                                }else{
                                    layer.msg(data.msg, {
                                        icon: 5,//失败的表情
                                        time: 3000 //1秒关闭（如果不配置，默认是3秒）
                                    }, function(){
                                        location.reload();
                                    });
                                }
                            },
                            complete: function () {
                                layer.close(this.layerIndex);
                            },
                        });
                        table.reload('user-manage');
                        layer.msg('已删除');
                    });
            }
            ,add: function(){
                layer.open({
                    type: 2
                    ,title: '添加用户'
                    ,content: 'userform.html'
                    ,maxmin: true
                    ,area: ['500px', '450px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-front-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            var field = data.field; //获取提交的字段
                            field['ip']=returnCitySN["cip"];
                            $.ajax({
                                url:"{:url('admin/user/useradd')}",
                                type:'post',
                                data:field,
                                beforeSend:function () {
                                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                                },
                                success:function(data){
                                    if(data.code == 0){
                                        layer.msg(data.msg,{icon: 6,
                                            time: 1000
                                        },function(){
                                            location.reload();
                                        });//成功的表情
                                    }else{
                                        layer.msg(data.msg, {
                                            icon: 5,//失败的表情
                                            time: 3000 //1秒关闭（如果不配置，默认是3秒）
                                        }, function(){
                                            location.reload();
                                        });
                                    }
                                },
                                complete: function () {
                                    layer.close(this.layerIndex);
                                },
                            });


                            //提交 Ajax 成功后，静态更新表格中的数据
                            //$.ajax({});
                            table.reload('LAY-user-front-submit'); //数据刷新
                            layer.close(index); //关闭弹层
                        });

                        submit.trigger('click');
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
